h1 ビズコミ -VISCOMI-
p こんにちは、#{@user.name}さん。
p この度は、ビズコミに新規会員登録いただき誠にありがとうございます。つきましては、以下のリンクよりアカウントを認証いただくようよろしくお願い致します。

= link_to "アカウントの有効化", edit_account_activation_url(@user.activation_token, email: @user.email)

p もし本メールにお心当たりのない場合、破棄していただきますよう、よろしくお願い致します。
br
p ビズコミ 運営
p Email: viscomi.auth@gmail.com