h1 ビズコミ -VISCOMI-
p こんにちは、#{@user.name}さん。
p 以下のリンクより、パスワードの再設定を行ってください

= link_to "パスワード再設定", edit_api_v1_password_reset_url(@user.reset_token, id: @user.id,)

p ーーーーーーーーーーーーーーーーーーーー
p ビズコミで地域とつながる
p ーーーーーーーーーーーーーーーーーーーー
p ◆ビズコミURL：
a href="https://viscomi.herokuapp.com/"
  | https://viscomi.herokuapp.com
br
ul
  li 地域のお店の最新・お得情報
  li 自治会の活動情報
  li イベント情報
  li 自治会へのご意見・ご提案
hr
p ※このメールに返信しないでください。