h1 #{@community_center_name}よりお知らせ
br
hr
br
p #{@user_name}さん、
p #{@community_center_name}よりお知らせが届いています。
br
p style="white-space: pre-wrap;" #{@content}
br
p --------------------------
p ビズコミで地域とつながる
p --------------------------
br
p ◆ビズコミURL：
a href="https://vis-comi.com/"
  | https://vis-comi.com
br
ul
  li 地域のお店の最新・お得情報
  li 自治会の活動情報
  li イベント情報
  li 自治会へのご意見・ご提案
br
hr
p ※このメールに返信しないでください。
p ※お問い合わせはこちらから
a href="https://vis-comi.com/feedback/"
  | https://vis-comi.com/feedback