@import './variables';
@import './mixin';

//---------------- グローバル設定 ----------------//

* {
  text-decoration: none !important;
  padding: 0;
  margin: 0;
  font-family: 'Kosugi';
  .fade {
    &-enter {
      opacity: 0;
    }
    &-enter-active,
    &-leave-to {
      transition: opacity .3s;
    }
  }
  h1, h2, h3, h4 {
    font-weight: normal;
  }
  .font-maru {
    font-family: 'Kosugi Maru'
  }
  main {
    margin: 5vh auto !important;
    .colored {
      background-color: #243743;
      color: $white;
    }
  }
}

//---------------- App.vue ----------------//

.app {
  margin: 0 auto;
  &-img {
    width: 8vw;
    max-width: 140px;
    cursor: pointer;
  }
}

.app-container {
  width: 95%;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .app-container {
    width: 95%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .app-container {
    max-width: 1000px;
  }
}

//---------------- Top.vue ----------------//

#top-wrapper {
  max-width: 900px;
  margin: 0 auto;
  .logo-container {
    width: 40%;
    margin: 0 auto;
    .top-logo {
      width: 100%;
    }
  }
  .top-menu {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .to-signup,
    .to-login {
      font-size: 1.2em;
      white-space: nowrap;
      padding: 1.5rem 0;
    }
  }
}

@media (max-width: 600px) {
  .logo-container {
    width: 30%;
  }
  #main-copy {
    font-size: 17px;
  }
  h3 {
    font-size: 14px;
  }
  .top-menu {
    flex-direction: column;
    .to-signup,
    .to-login {
      font-size: 14px !important;
      max-width: 100%;
      padding: 0.8rem 0 !important;
    }
  }
  .app-img {
    height: 100px;
    width: 100px;
  }
}

//---------------- Navbar.vue ----------------//

.nav-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowarp;
  justify-content: space-between;
  align-items: flex-start;
}

//---------------- components/LogOut.vue ----------------//

.list-item {
  cursor: pointer;
}

//------------- components/Link.vue -------------//

#link-component {
  background-color: $green;
  padding: 20px;
}

//------------ SignUp.vue, SignIn.vue ------------//

.signin-span {
  cursor: pointer;
  &.to-password-reset {
    text-align: left;
    display: block;
  }
}

.form {
  width: 100%;
  margin: 50px auto;
}

//---------------- MyPage.vue ----------------//

#mypage-container {
  position: relative;
  .to-edit {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
  }
  .hr {
    width: 90vw;
    margin: 0 auto;
  }
  .to-com {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .user-info {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    text-align: left;
    .no-img {
      height: 180px;
      width: 180px;
      background-image: url(/images/no-img.png);
      background-size: cover;
      background-position: center center;
      border: 1px solid gray;
      border-radius: 5px;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 700px) {
  #mypage-container {
    .to-edit,
    .to-com {
      top: 10px !important;
    }
    h1 {
      padding-top: 80px;
    }
  }
}
//---------------- NewManager.vue ----------------//

.form-desc {
  text-align: left;
  margin: 3rem 0;
  padding: 20px;
  border: 1px solid $green;
}

//---------------- NewPost.vue ----------------//


//---------------- CommunityCenter.vue ----------------//

#com-page-container {
  .link-container {
    position: relative;
    height: 3rem;
    .to-new {
      position: absolute;
      right: 20px;
    }
    .to-edit {
      position: absolute;
      left: 20px;
      cursor: pointer;
    }
  }
}

//---------------- Post.vue, PostModal.vue ----------------//

.postImg {
  height: 200px;
}
.modalImg {
  height: 200px;
}

.date {
  text-align: right;
  padding-right: 20px;
  color: #777;
}
.tool-wrapper {
  position: absolute;
  left: 92%;
  top: 3%;
}

.post-flex {
  display: flex;
  justify-content: space-between;
  .post-text-box {
    width: 70%;
    margin-right: 10%;
    .post-title {
      font-size: 1.1em;
      font-weight: bold;
    }
  }
  .post-image-box {
    padding: 10px 15px;
  }
  .date {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.modal-img {
  cursor: pointer;
}
.post-modal-content {
  color: black !important;
}

@media (max-width: 600px) {
  .modalImg {
    height: 140px !important;
  }
  .post-title {
    font-size: 0.9em !important;
  }
  .tool-wrapper {
    left: 88%;
    top: 5%;
  }
}

//---------------- TimeLine.vue ----------------//

#timeline-container {
  .py-4 {
    white-space: nowrap;
  }
  .tabs-container {
    width: 100%;
    .v-tab {
      min-width: 55px !important;
    }
  }
}

@media (max-width: 600px) {
  // .tabs-container {
  //   // transform: translateX(-30px);
  // }
}

//---------------- Ad.vue ----------------//

.ad-link {
  color: $lightblue;
  opacity: .7;
  cursor: pointer;
}