@import './variables';
@import './mixin';

//---------------- グローバル設定 ----------------//

* {
  text-decoration: none !important;
  .fade {
    &-enter {
      opacity: 0;
    }
    &-enter-active,
    &-leave-to {
      transition: opacity .3s;
    }
  }
  main {
    margin: 7vh 0;
  }
}

//---------------- App.vue ----------------//

.app {
  &-img {
    width: 8vw;
    max-width: 100px;
    cursor: pointer;
  }
}

@media (min-width: 1000px) {
  .app-container {
    width: 800px;
    margin: 0 auto;
  }
}

//---------------- Top.vue ----------------//

#top-wrapper {
  max-width: 700px;
  .top-menu {
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .to-signup,
    .to-login {
      width: 35vw;
      padding: 2rem 1rem;
    }
  }
}

//------------- components/Link.vue -------------//

#link-component {
  background-color: $green;
  padding: 20px;
}

//------------ SignUp.vue, SignIn.vue ------------//

.signin-span {
  cursor: pointer;
  &.to-password-reset {
    text-align: left;
    display: block;
  }
}

.form {
  width: 80%;
  margin: 50px auto;
}

//---------------- MyPage.vue ----------------//
.hr {
  width: 90vw;
  margin: 0 auto;
}
.user-info {
  width: 90vw;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}